*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  overflow: hidden;
}

/* ===== HOME ===== */
.containerPrincipal {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: #281c2efe;

  padding: 20px;
  box-sizing: border-box;
}

/* ===== TÍTULO ===== */
.titulo {
  font-size: 48px;
  font-weight: 467;
  margin-bottom: 20px;
  color: #713dcb;
  letter-spacing: -0.5px;
}

/* ===== IMAGEM ===== */
.imagemGuardiao {
  width:400px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* ===== TEXTO PRINCIPAL ===== */
.descricao {
  max-width: 600px;
  font-size: 16px;

  color: #c6b8de;

  line-height: 1.6;
  margin-bottom: 15px;
}

/* ===== BOTÃO ===== */
.botaoVerificar {
  width: 200px;
  height: 40px;

  background-color: #4c1d95;
  border: none;
  border-radius: 10px;

  color: white;
  font-size: 14px;

  cursor: pointer;

  transition: all 0.3s ease;
}

.botaoVerificar:hover {
  background-color: #6d28d9;
  transform: translateY(-2px);
}

/* ===== RODAPÉ ===== */
.rodape {
  margin-top: 10px;
  font-size: 14px;

  color: #c6b8de;

}


/* ===== TELA DE UPLOAD ===== */

.uploadContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    #0b0d1a,
    #12122a,
    #0b0d1a
  );
}

.uploadCard {
  width: 420px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(14, 14, 32, 0.85);
  border: 1px solid rgba(168, 85, 247, 0.4);

  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;

  box-shadow: 0 0 40px rgba(168, 85, 247, 0.3);
}

.uploadTitulo {
  font-size: 28px;
  color: #facc15;
  font-family: serif;
}

.uploadTexto {
  color: #d1d5db;
}

.inputImagem {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;

  background-color: #1a1a35;
  color: white;

  cursor: pointer;
}

.previewImagem {
  width: 180px;
  border-radius: 12px;
  margin: auto;

  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}


/* ===== BOTÕES ===== */

.botaoDescobrir {
  height: 45px;
  background-color: #3c0266;

  border: 1px solid white;
  border-radius: 12px;

  cursor: pointer;
  color: white;
  font-size: 16px;

  transition: all 0.3s ease;
}

.botaoDescobrir:hover {
  background-color: #5c039b;
  transform: scale(1.05);
}

.botaoVoltar {
  background: none;
  border: none;
  color: #9ca3af;

  cursor: pointer;
  font-size: 14px;
}

.botaoVoltar:hover {
  color: white;
}